body,html{
	height:100%;
	padding:0px;
	margin:0px;
}
#fondo{
	position: fixed;
	height: 100%;
	width:100%;
	left: 0px;
	top: 0px;
	background: url(../img/fondo.jpg) no-repeat center center fixed;
	background-size: cover;
	z-index: -2;
}

#logo{
	position: relative;
	margin-left: 50%;
	background-image: url(../img/logo.png);
	background-size: 76%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 400px;
	width: 320px;
}

#texto{
	position: relative;
	display: inline-block;
	margin-left: 50%;
	margin-bottom: -50px;
	text-align: center;
	font-family: comic;
	font-size: 450%;
	width: 200px;
	height: 200px;
	color: white;
	cursor: pointer;

}


#informacion{
	position: relative;
	display: inline-block;
	margin-left: 50%;
	margin-bottom: -50px;
	text-align: center;
	font-family: comic;
	font-size: 168%;
	width: 403px;
	height: 200px;
	color: white;
	display: none;
}


a:link{text-decoration:none;}
a:{color:#FFFFFF}
a:visited {color:#FFFFFF;} 
a:active {color:#FFFFFF;} 
a:hover {color: #848484;}
