body,html{
	height:100%;
	padding:0px;
	margin:0px;
}
#fondo{
	position: fixed;
	height: 100%;
	width:100%;
	left: 0px;
	top: 0px;
	background: url(../img/fondo.jpg) no-repeat center center fixed;
	background-size: cover;
	background-position: 0% 50%;
	z-index: -2;
}

#logo{
	position: relative;
	margin-left: 50px;
	background-image: url(../img/logo.png);
	background-size: 58%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	height: 307px;
	width: 320px;
	bottom: -50px;
}

#texto{
	position: relative;
	display: inline-block;
	margin-left: 0px;
	margin-bottom: -50px;
	text-align: center;
	font-family: comic;
	font-size: 250%;
	width: 407px;
	height: 200px;
	bottom: -150px;
	color: #FFFFFF;

}

a:link{text-decoration:none;} 
a {color:#FF1493;} 
a:visited {color:#FFFFFF;} 
a:active {color:#FFFFFF;} 
a:hover {color: #848484;}
